<h1>Welcome</h1>
<style>
    header {
        background-color: rebeccapurple;
        padding: 20px;
        text-align: center;
        color: white;
    }
    footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 15px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    </style>
@{
    <div>
        <header>
            <h2>This is my page</h2>
        </header>
    </div>
    <div>
        <p>Welcome to the  page.</p>
    </div>
    <footer>
        <p>&copy; 2024 Yeasmin's Website. All rights reserved.</p>
    </footer>
}